body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow-x: block;
}

/* Navvigation Bar */
header {
  width: 100vw;
  position: fixed;
  z-index: 1;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.095);
}

.nav {
  display: flex;
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 3.25em;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.095);
}

#logo {
  height: 30px;
  width: 30px;
}

.nav_pc-list {
  display: flex;
  list-style-type: none;
  width: 100vw;
  justify-content: center;
}

.nav_pc-link a {
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin: 0 20px;
  text-decoration: none;
  font-size: 20px;
  color: rgb(100, 100, 100);
  font-weight: bold;
}

header ul li a:hover {
  border-bottom: solid;
  border-color: #1f65de;
}

.nav_bars-btn {
  display: none;
}

#border {
  width: 100vw;
  height: 5px;
  background-image: transparent;
  opacity: 0.1;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(255, 255, 255));
}

/* Introduction */
.grid-introduction {
  width: 95%;
  margin: 0 auto;
  height: 100vh;
}

.row-introduction {
  display: flex;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.col-1-introduction {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.containner-col-introduction {
  width: 100%;
}

.title-col-introduction {
  background: linear-gradient(
    to right,
    #30cfd0 0%,
    #330867 100%
  ); /* Gradient từ màu này sang màu kia */
  background-clip: text; /* Cắt nền cho chữ */
  color: transparent; /* Đặt màu chữ thành trong suốt */
}

.title-col-introduction h1 {
  font-size: 40px;
}

.title-col-introduction h1 {
  margin-top: 0;
  line-height: 1.2;
}

.containner-col-introduction p {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  text-align: justify;
  line-height: 1.5;
}

.col-2-introduction {
  width: 50%;
  margin: auto 0;
  margin-left: auto;
}

.img-col-introduction {
  display: flex;
  width: 100%;
  height: 100%;
}

.img-col-introduction img {
  background-size: cover;
  width: 100%;
  height: 80%;
  border-radius: 15px;
  opacity: 1; /* Độ mờ ban đầu */
  transition: opacity 2s ease; /* Hiệu ứng mờ dần trong 2 giây */
}

.separation {
  display: block;
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #30cfd0 0%, #330867 100%);
}

.Elearning-title {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Elearning-title h1 {
  font-size: 50px;
  background: linear-gradient(
    to right,
    #53daff 0%,
    #2bff8a,
    rgb(3, 194, 95)
  ); /* Gradient từ màu này sang màu kia */
  background-clip: text; /* Cắt nền cho chữ */
  color: transparent;
  margin: 20px;
}

.Elearning-content {
  width: 95%;
  margin: 0 auto;
}

.row-Elearning-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -5%;
  justify-content: center;
  width: 100%;
}

.col-Elearning-content {
  width: 31%;
  margin: 0 1%;
  margin-bottom: 2%;
  transition: linear 0.2s;
  background-size: cover;
  background-color: gainsboro;
  border-radius: 15px;
}

.col10-Elearning-content {
  width: 100%;
  height: 200px;
  transition: linear 0.2s;
  background-image: url("../image/tnhn\ 10.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.col11-Elearning-content {
  width: 100%;
  height: 200px;
  transition: linear 0.2s;
  background-image: url("../image/tnhn11.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.col12-Elearning-content {
  width: 100%;
  height: 200px;
  transition: linear 0.2s;
  background-image: url("../image/tnhn12.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title-elearning {
  margin: 30px 20px;
  text-align: center;
  font-size: 30px;
}

#t10 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(
    to top,
    rgb(0, 108, 196),
    rgb(0, 207, 200)
  ); /* Gradient từ màu này sang màu kia */
  background-clip: text; /* Cắt nền cho chữ */
  color: transparent;
}

#t11 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(
    to top,
    rgb(4, 90, 0),
    rgb(73, 184, 4)
  ); /* Gradient từ màu này sang màu kia */
  background-clip: text; /* Cắt nền cho chữ */
  color: transparent;
}

#t12 {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  background: linear-gradient(
    to top,
    rgb(0, 62, 46),
    rgb(0, 128, 87)
  ); /* Gradient từ màu này sang màu kia */
  background-clip: text; /* Cắt nền cho chữ */
  color: transparent;
}

.col-button {
  width: 30%;
  display: flex;
  background-color: #0fc9b3;
  height: 40px;
  margin: 0 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
}

footer a {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

footer a:hover {
  text-decoration: underline;
}

footer .links {
  display: flex;
  flex-direction: column;
}

footer .links a {
  margin: 5px 0;
}

footer {
  background-color: black;
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  width: 30%;
  margin-bottom: 20px;
}

.footer-column h3 {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: white; /* Màu chữ trắng cho copyright */
}

/* Mobile & Tablet: width < 1024px */
@media only screen and (max-width: 64em) {
  .grid-introduction {
    height: auto;
  }
  .nav_pc {
    display: none;
  }

  .nav_MobileAndTablet {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 430px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
  }

  .menu {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 3.25em;
  }

  .nav_MobileAndTablet-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .nav_MobileAndTablet-link {
    display: block;
    padding: 1em 0;
  }

  .nav_MobileAndTablet-link a {
    padding: 0.5em 0;
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 1.5em;
  }

  .nav_overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
  }

  .bar-btn {
    margin: auto 0;
    margin-right: 1em;
  }

  .nav_bar-btn {
    display: block;
    width: 30px;
    height: 30px;
  }

  .bar-close {
    margin: auto 0;
    margin-right: 1em;
  }

  .nav_bar-close {
    display: block;
    width: 30px;
    height: 30px;
  }

  .nav_input:checked ~ .nav_overlay {
    display: block;
  }

  .nav_input:checked ~ .nav_MobileAndTablet {
    transform: translateX(0%);
    opacity: 1;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .separation {
    height: auto;
    padding-bottom: 100px;
  }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {
  .grid-introduction {
    height: auto;
    margin-top: 50px;
  }
  .col-1-introduction {
    width: 100%;
  }

  .row-introduction {
    padding-top: 5%;
  }

  .title-col-introduction h1 {
    font-size: 28px;
  }

  .containner-col-introduction p {
    font-size: 20px;
  }

  .col-2-introduction {
    width: 100%;
  }

  .img-col-introduction img {
    width: 100%;
  }

  .Elearning-title h1 {
    font-size: 43px;
  }

  .col-Elearning-content {
    width: 48%;
  }

  .col10-Elearning-content {
    height: 85px;
    margin-bottom: 15px;
  }

  .col11-Elearning-content {
    height: 85px;
    margin-bottom: 15px;
  }

  .col12-Elearning-content {
    height: 85px;
    margin-bottom: 15px;
  }

  .title-elearning {
    font-size: 12.5px;
    margin: 10px 8px;
  }

  #t10 {
    display: block;
    font-size: 22px;
  }

  #t11 {
    display: block;
    font-size: 22px;
  }

  #t12 {
    display: block;
    font-size: 22px;
  }

  .col-button {
    width: 35%;
    margin-bottom: 10px;
    font-size: 10px;
    height: 20px;
  }

  .separation {
    margin-top: 10px;
    height: auto;
    padding-bottom: 50px;
  }
}

/* Tablet: width >= 740px and width < 1024px */
@media only screen and (min-width: 46.25em) and (max-width: 64em) {
  .row-introduction {
    height: 400px;
  }

  .title-col-introduction h1 {
    font-size: 28px;
  }

  .containner-col-introduction p {
    font-size: 20px;
  }

  .col-Elearning-content {
    width: 27%;
  }

  .col10-Elearning-content {
    height: 125px;
    margin-bottom: 15px;
  }

  .col11-Elearning-content {
    height: 125px;
    margin-bottom: 15px;
  }

  .col12-Elearning-content {
    height: 125px;
    margin-bottom: 15px;
  }

  .title-elearning {
    font-size: 19px;
    margin: 10px 8px;
  }

  #t10 {
    display: block;
    font-size: 28px;
  }

  #t11 {
    display: block;
    font-size: 28px;
  }

  #t12 {
    display: block;
    font-size: 28px;
  }

  .col-button {
    width: 35%;
    margin-bottom: 10px;
    font-size: 13px;
    height: 30px;
  }

  /* PC: width >= 1024px */
  @media only screen and (min-width: 46.25em) {
    .img-col-introduction {
      justify-content: flex-end;
      align-items: center;
    }
  }

  /* > PC: width >= 2100px */
  @media only screen and (min-width: 125em) {
    .nav_pc-link a {
      font-size: 25px;
    }

    .row-introduction {
      height: 1000px;
    }

    .title-col-introduction h1 {
      font-size: 85px;
    }

    .containner-col-introduction p {
      font-size: 55px;
    }

    .Elearning-title h1 {
      font-size: 100px;
    }

    .col10-Elearning-content {
      height: 800px;
      margin-bottom: 15px;
    }

    .col11-Elearning-content {
      height: 800px;
      margin-bottom: 15px;
    }

    .col12-Elearning-content {
      height: 800px;
      margin-bottom: 15px;
    }

    .col-button {
      font-size: 30px;
      height: 70px;
    }
  }
}
